

*{
	margin: 0;
	padding: 0;
	
}
/*titulo*/
.herramientas{

  	text-align: center;
  	margin-bottom: 30px;
}

.ade{
	margin-top: 20px;
	height: 60px;
}
.linea{

  content:'';
  margin: auto;
  width:300px;
  height: 4px;
  background:#000;
  margin-bottom: 5px;
}

.titulo{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	margin-bottom: 5px;
}


/*descripcion amarilla*/

.cajas{
	margin-top: 100px;
	/*hace que el display se flexible y se acomoden al lado*/
	display: flex;
	}

.c1{
	background:#FDAD30 ;
	border-radius:200px;
	width: 30%;
	padding: 2px;
	margin-left: 50px;
}
.c2{
	background-color: #F5F5F5;
	border-radius:200px;
	width: 400px;
	height: 400px;
	/*esta propiedades centran lo que estan dentro del elemento*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.img1{
	border-radius:200px;	
	width: 300px;
	height: 300px;
}

/*descripcion texto amarillo*/
.ctexto{

	margin-top: 100px;
	margin-left: 80px;
	font-family: 'Open Sans', sans-serif;
	color:#FDAD30;
}

.cua1{

	margin-top: 50px;
	height: 115px;
	width: 500px;
	padding: 5px;
	background:#FDAD30 ;
	margin-left: 20px

}
.cua2{

	height: 110px;
	width: 495px;
	display: flex;
	align-items: center;
	margin-top:-10px;
	margin-left: -10px;
	background-color: #F5F5F5;
	box-shadow: 0 0 10px rgb(0,0,0,.4);
}

.descripcion{
	margin-left: 10px;
	color: #000;
}

/*descripcion azul*/
.cajas2{

	margin-top: 100px;
	display: flex;


}

.c12{

	background:#069CCC ;
	border-radius:200px;
	width: 30%;
	padding: 2px;
	margin-left: 80px;

}
.c22{
	background-color: #F5F5F5;
	border-radius:200px;
	width: 400px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;



}
.img12{
	
	border-radius:200px;	
	width: 300px;
	height: 300px;


}

.ctexto2{
	float: right;
	margin-top: 100px;
	margin-left: 390px;
	font-family: 'Open Sans', sans-serif;
	color:#069CCC;
}

.cua12{
	margin-top: 50px;
	height: 115px;
	width: 500px;
	padding: 5px;
	background:#069CCC ;

}
.cua22{

	height: 110px;
	width: 495px;
	display: flex;
	align-items: center;
	margin-top:-10px;
	margin-left: -10px;
	background-color: #F5F5F5;
	box-shadow: 0 0 10px rgb(0,0,0,.4);
	

}
.descripcion2{
	margin-left: 10px;
	color: #000;
}

.alinear{
	text-align: right;
	
}

/*textos*/

.ph{
	font-size: 20px;
}
.hh{
	font-size:40px;
}




