/**Encabezado**/
.encabezado{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 100px;
	
}
.ade{
	width: 300px;
}

.linea{
	content: '';
	width: 600px;
	height: 4px;
	background: black;
	margin: auto;
}

.titulo{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 80px;

}

body{
	font-family:'Open Sans', sans-serif;
}
/**Fin encabezado**/


/**Contenedor principal**/
.contenedor_prin{
	justify-content: center;
	display: flex;
	align-items: center;
}
	/**Formulario de inscripción**/

		/**Contenedor naranja**/
		.contenedor_nar{
		 	background-color: #FDAD30;
		 	display: flex;
		 	width: 310px;
		 	height: 430px;
		}

		/**Contenedor del formulario**/
		.contenedor_form{
			margin-left: -6px;
			margin-top: -7px;
			width: 310px;
		 	height: 430px;
		 	background-color: #F5F5F5;
		 	display: inline;

		}

		/**Formulario**/
		.formulario{
			background-color: #F5F5F5;

		}

		/**Titulo del formulario**/
		.titulo1{
			color: #FDAD30;
			font-family: 'Open Sans', sans-serif;
			font-size: 15px;
			display: flex;
			justify-content: center;
			margin: 0 auto;
			

		}

		/**Texto del formulario**/
		.texto{
			font-size: 15px;
			display: flex;
			padding: 0;
			border:0;
			margin:0 0 15px 0;
			text-align: center;
			font-weight: lighter;

		}

		/**Cajas de texto**/
		input[type=text]{

			border-left: none;
			border-top: none;
			border-right: none;
			border-bottom: 4px solid #FDAD30;
			margin-bottom: 20px;
			margin-left: 14px;
			width: 240px;
			background: #F5F5F5;
			outline: none;
		}

		/**Boton**/
		input[type=submit]{

			margin-left: 230px;
			margin-bottom: 50px;
			border-left: 1px solid #FDAD30;
			border-top: 1px solid #FDAD30;
			border-bottom: 4px solid #FDAD30;
			border-right: 4px solid #FDAD30;
			outline: none;
		     color: #9B9A9A;
		}

		/**Contenedor de boton**/
		.contenedor_boton_enviar{

			display: flex;
			margin-top: 0;
		}

		.sub_caja_1{

			width: 305px;
			height: 418px;
			padding: 0 0 10px 0;
			border:2px solid #FDAD30;
			
		}
	/**Formulario de inscripción**/

	/**Contenedor de imagen**/
	.contenedor_img{
		
		width: 300px;
		height: 300px;
		display: flex;
		
	}
	.contenedor_img1{
		width: 300px;
		border-radius: 150px;
		
	}

	.imagen{
		
		width: 300px;
		height: 300px;
	}

		/**Contenedor azul**/
		.contenedor_azul{
			background-color: #0499D8;
		 	display: flex;
		 	width: 310px;
		 	height: 430px;
		}

		.sub_caja_2{
			width: 305px;
			height: 418px;
			padding: 0 0 10px 0;
			border:2px solid #0499D8;
			
		}
		.titulo2{
			color: #0499D8;
			font-family: 'Open Sans', sans-serif;
			font-size: 15px;
			display: flex;
			justify-content: center;
			margin: 0 auto;
		}

		.contenedor_text_area{
			
		text-align: center;
		display: flex;
		
		}

		.caja_azul{
			
			
			background-color: #0499D8;
			width: 255px;
			height: 100px;
			margin-left: 20px;
			margin-top: 20px;
		}
		.contenedor_texto{

			width: 240px;
			height: 90px;
			margin-left: -17px;
			margin-top: -15px;
			
		}

		p{

			margin: 0;
			padding: 0;
			border:0;
			font-family: 'Open Sans' sans-serif;
			font-size: 13px;
			margin-left: 14px;

		}

		.contenedor_boton{

			display: flex;
			margin-top: 40px;

		}

		::placeholder {

		 font-family: 'Open Sans' sans-serif;
		 font-size: 13px;
		 color: #9B9A9A;

		}		

/**Fin de contenedor**/




