<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='directivos/css/construir.css') }}">
	 <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
	 <script src="https://kit.fontawesome.com/242df0cab7.js" crossorigin="anonymous"></script>
</head>
<body>
	<main>
		<img src="{{ url_for('static', filename='directivos/img/57.png') }}">
		<h1>¡Esta página se encuentra en construción!<br>GRACIAS</h1>
	</main>

</body>
</html>