<html>
    <head>
        <link rel="stylesheet" href="css/estilo_listaAsignaturas.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        
    </head>

    <body>
        <main>
            <div class="contenedor_1">
                <div class="contenedor_2">
                    <!--Contenedor de encabezado Titulo y buscador-->
                    <div class="contenedorEncabezado">

                        <!--Contenedor titulo de docentes-->
                        <div class="contenedorTituloDocente">
                            <h1>Asignaturas</h1>
                        </div>
                     
                    </div>
                    
                    <!--Contenedor de la lista de docentes-->
                    <div class="contenedorLista">
                        <table>
                            <tr>
                                <td><img src="directivos-img/43.png" cellpadding ="150%"alt=""></td>
                                <td>Matemáticas</td>
                            </tr>    

                            <tr>
                                <td><img src="directivos-img/44.png" alt=""></td>
                                <td>Español</td>
                            </tr>  

                            <tr>
                                <td><img src="directivos-img/45.png" alt=""></td>
                                <td>Informática</td>
                            </tr>  
                            <tr>
                                <td><img src="directivos-img/46.png" alt=""></td>
                                <td>Artes</td>
                            </tr>  

                            
 
                        </table>
                    </div>
                    <!--Fin contenedor de la lista de docentes-->

                </div>
            </div>
        </main>
    </body>
</html>