<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='directivos/css/crear.css') }}">
	 <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
	 <script src="https://kit.fontawesome.com/242df0cab7.js" crossorigin="anonymous"></script>
</head>
<body>
	<main>
		<div class="division" style="border-right:5px solid #F9AD30;">
			<h1>Evaluaciones</h1>
			<img src="{{ url_for('static', filename='directivos/img/53.png') }}">
			<a href="#" class="ver">Crear<i class="fas fa-pencil-alt"></i></a>
		</div>
		<div class="division" style="border-right:5px solid #F9AD30; border-left:5px solid #F9AD30;">
			<h1>Simulacros</h1>
			<img src="{{ url_for('static', filename='directivos/img/55.png') }}">
			<a href="#" class="ver2">Crear<i class="fas fa-pencil-alt"></i></a>
		</div>
		<div class="division" style="border-left:5px solid #F9AD30;">
			<h1>Entrenamientos</h1>
			<img src="{{ url_for('static', filename='directivos/img/56.png') }}">
			<a href="#" class="ver3">Crear<i class="fas fa-pencil-alt"></i></a>
		</div>
	</main>
	<div  class="crear_cursos">
                        <div title="CERRAR" class="cerrar"><i class="fas fa-times-circle"></i></div>
                        <iframe class="crear_cursos2" scrolling="no" src="crear_cursos" >
                        
                    </iframe>
                   
     </div>
      <script src="{{ url_for('static', filename='directivos/js/crear.js') }}"></script>
</body>
</html>