<html>
    <head>
        <link rel="stylesheet" href="css/estilo_listaAsignaturas.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        
    </head>

    <body>
        <main>
            <div class="contenedor_1">
                <div class="contenedor_2">
                    <!--Contenedor de encabezado Titulo y buscador-->
                    <div class="contenedorEncabezado">

                        <!--Contenedor titulo de docentes-->
                        <div class="contenedorTituloDocente">
                            <h1>Asignaturas</h1>
                        </div>
                     
                    </div>
                    
                    <!--Contenedor de la lista de docentes-->
                    <div class="contenedorLista">
                        <table>
            
                            {% for dataa in data%}
                            <tr>
                                <td><img src={{dataa.2}} cellpadding ="150%"alt=""></td>
                                <td>{{dataa.1}} - {{dataa.0}}</td>
                            </tr>
                            {% endfor%}
                       
                        </table>
                    </div>
                    <!--Fin contenedor de la lista de docentes-->

                </div>
            </div>
        </main>
    </body>
</html>