<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='directivos/css/perfil.css') }}">
        <script src="https://kit.fontawesome.com/242df0cab7.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

        <link rel="icon" type="image/png" href="{{ url_for('static', filename='directivos/img/bombillo.png') }}" sizes="32x32">
    </head>

    <body >
        
        <main>
            <div class="contenedor_FP">
                <div class="contenedor_FPDos">

                    <div class="encabezadop">
                            <div  class="contenedorImgPrincipal" href="foto" >
                                <img  id="f" class="imgPrincial" src={{data.5}} alt="">
                                <a href="foto" title="Editar avatar" style="margin-left:100px; font-size:25px; cursor: pointer; color: #fff"><i class="fas fa-pencil-alt"></i></a>
                            </div>
      
                          <div class="contenedorTitulo">
                              
                                <div class="bombillo" style="cursor: pointer;  "><i class="fas fa-lightbulb"></i></div>
                              
                             
                                <p class="titulo"><Strong>ADE-PERFIL</Strong></p>
                              
                          </div>
      
                          <a class="contenedorMenu" href="menu" title="menú">
                            <div class="menu" style="cursor: pointer; " ><i class="fas fa-bars" ></i></div>
                          </a>
                    </div>

                    <br>
                    <br>
                    <div class="contenedorFormularioLapiz">
                        
                        <div class="contenedorLapiz">
                            <img class="imgLapiz" src="{{ url_for('static', filename='directivos/img/3.png') }}" alt="">
                        </div>
                            
                        <div class="contenedorFormulario1">
                            <div class="contenedorFormulario2">
                              
                                <form class="formulario" action="/editPerfil" method="POST">
                                  <!--  <label class="nombre" for="">Nombre: </label>
                                    <input class="cajaNombre" type="text" name="nombre" value="{{data.0}}">
                                    <br>
                                    <label class="apellido" for="">Apellido: </label>
                                    <input class="cajaApellido" type="text" name="apellido" value="{{data.1}}">
                                    <br>
                                    <label class="cargo" for="">Cargo: </label>
                                    <input class="cajaCargo" type="text" value="Docente" disabled="">
                                    <br>
                                    <label class="id" for="">Id: </label>
                                    <input class="cajaId" type="text" name="id" value="{{data.2}}">
                                    <br>
                                    <label class="correo" for="">Correo: </label>
                                    <input class="cajaCorreo" type="text" name="email" value="{{data.3}}">
                                    <br>
                                    <label class="contrasena" for="">Contraseña: </label>
                                    <input class="cajaContrasna" type="password" name="password" value="{{data.4}}">
                                    -->
                                    <label class="nombre" for="">Nombre: </label>
                                    <input class="cajaNombre uno" type="text" value="{{data.0}}">
                                    <input class="no dos" type="text"  name="nombre" value="">
                                    <br>
                                    <label class="cajaNombre" for="">Apellido: </label>
                                    <input class="cajaCargo tres" type="text" value="{{data.1}}">
                                    <input class="no cuatro" type="text" name="apellido" value="">
                                    <br>
                                    <label class="cargo" for="">Cargo: </label>
                                    <input class="cajaCargo " type="text" value="Docente" disabled="">
                                    <br>
                                    <label class="id" for="">Id: </label>
                                    <input class="cajaId cinco" type="text" value="{{data.2}}">
                                    <input class="no seis" type="text" name="id" value="">
                                    <br>
                                    <label class="correo" for="">Correo: </label>
                                    <input class="cajaCorreo siete" type="text" value="{{data.3}}">
                                    <input class="no  ocho" type="text" name="email" value="">
                                    <br>
                                    <label class="contrasena" for="">Contraseña: </label>
                                    <input class="cajaContrasna nueve" type="text" value="{{data.4}}" >
                                    <input class="no  diez" name="password" value="">
                            </div>
                        </div> 
                    </div>
                    
                    <div class="contenedorPiePagina">
                        <div  title="Cancelar"class="contenedorGifNube" style="cursor: pointer;">
                            <img class="gifNube" src="{{ url_for('static', filename='directivos/img/nube.gif') }}" alt="">
                        </div>
                       
                        <div class="contenedorBoton">
                            <a class="contenedorMenu" href="menu" title="menú">
                                <button class="boton"> <strong>Guardar</strong></button>
                            </a>
                        </div>
                           
                        <div  title="Guardar" class="contenedorGifSol" style="cursor: pointer;">
                            <a class="contenedorMenu" href="menu" title="menú">
                                <img class="gifSol" src="{{ url_for('static', filename='directivos/img/sol.gif') }}" alt="">
                            </a>
                        </div>
                    </div>
                                </form> 
                </div>
            </div>
        </main>
       <script src="{{ url_for('static', filename='directivos/js/perfil.js') }}"></script>
    </body>
</html>