<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='directivos/css/perfil.css') }}">
        <script src="https://kit.fontawesome.com/242df0cab7.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

        <link rel="icon" type="image/png" href="{{ url_for('static', filename='directivos/img/bombillo.png') }}" sizes="32x32">
    </head>

    <body >
        
        <main>
            <div class="contenedor_FP">
                <div class="contenedor_FPDos">

                    <div class="encabezadop">
                            <div  class="contenedorImgPrincipal" href="foto" >
                                <img  id="f" class="imgPrincial" src="{{ url_for('static', filename='directivos/img/0.png') }}" alt="">
                                <a href="foto" title="Editar avatar" style="margin-left:100px; font-size:25px; cursor: pointer; color: #fff"><i class="fas fa-pencil-alt"></i></a>
                            </div>
      
                          <div class="contenedorTitulo">
                              
                                <div class="bombillo" style="cursor: pointer;  "><i class="fas fa-lightbulb"></i></div>
                              
                             
                                <p class="titulo"><Strong>ADE-PERFIL</Strong></p>
                              
                          </div>
      
                          <a class="contenedorMenu" href="menu" title="menú">
                            <div class="menu" style="cursor: pointer; " ><i class="fas fa-bars" ></i></div>
                          </a>
                    </div>

                    <br>
                    <br>
                    <div class="contenedorFormularioLapiz">
                        
                        <div class="contenedorLapiz">
                            <img class="imgLapiz" src="{{ url_for('static', filename='directivos/img/3.png') }}" alt="">
                        </div>
                            
                        <div class="contenedorFormulario1">
                            <div class="contenedorFormulario2">
                              
                                <form class="formulario" action="">
                                    <label class="nombre" for="">Nombre: </label>
                                    <input class="cajaNombre" type="text">
                                    <br>
                                    <label class="cargo" for="">Cargo: </label>
                                    <input class="cajaCargo" type="text">
                                    <br>
                                    <label class="id" for="">Id: </label>
                                    <input class="cajaId" type="text">
                                    <br>
                                    <label class="correo" for="">Correo: </label>
                                    <input class="cajaCorreo" type="text">
                                    <br>
                                    <label class="contrasena" for="">Contraseña: </label>
                                    <input class="cajaContrasna" type="password">
                                    

                                </form>
                            </div>
                        </div> 
                    </div>
                    
                    <div class="contenedorPiePagina">
                        <div  title="Cancelar"class="contenedorGifNube" style="cursor: pointer;">
                            <img class="gifNube" src="{{ url_for('static', filename='directivos/img/nube.gif') }}" alt="">
                        </div>
                       
                        <div class="contenedorBoton">
                            <button class="boton"> <strong>Guardar</strong></button>
                        </div>
                           
                        <div  title="Guardar" class="contenedorGifSol" style="cursor: pointer;">
                            <img class="gifSol" src="{{ url_for('static', filename='directivos/img/sol.gif') }}" alt="">
                        </div>
                    </div>
                   
                </div>
            </div>

        </main>
      
        <script src="{{ url_for('static', filename='directivos/js/custom.js') }}"></script>
        <script src="{{ url_for('static', filename='directivos/js/barba.min.js') }}"></script>
    </body>
</html>