
body{
	font-family:'Open Sans', sans-serif;
}


/**Encabezado**/
.encabezado-Contacto{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 70px;
	
}
.ade_Contacto{/*logo de ade*/
	width: 300px;
}

.Div_tituloContacto{/*Division titulo de contacto*/
	
	margin-top: 10px;
	margin-bottom: 80px;
}
.tituloContacto{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}

.lineaC{
	content: '';
	width: 600px;
	height: 4px;
	background: black;
	margin: auto;
}




/**Fin encabezado**/


/*Contenedor de los dos formularios*/
/**Contenedor principal**/
.contenedor_principalContacto{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	
	
	
}
	
/**Formulario de inscripción*******************************************************/
		/**Contenedor naranja**/
		.contenedor_naranjaContactos{
		 	background-color: #FDAD30;
		 	display: flex;
		 	width: 520px;
		 	height: 570px;
		 	margin-left: 15px;
		}

		/**Contenedor del formulario**/
		.contenedor_formularioContactos{
			margin-left: -6px;
			margin-top: -7px;
			width: 520px;
		 	height: 570px;
		 	background-color: #F5F5F5;
		 	display: inline;

		}

		/**Formulario**/
		.formularioContactos{
			background-color: #F5F5F5;

		}
		/*Caja Contenedor datos contactos*/
		.C_datosContacto{

			width: 520px;
		 	height: 570px;
			padding: 0 0 0 0;
			border:2px solid #FDAD30;
			
		}

		/**Titulo del formulario**/
		.tituloF_Contactos{
			padding: 5px;
			color: #FDAD30;
			font-family: 'Open Sans', sans-serif;
			font-size: 20px;
			display: flex;
			justify-content: center;
			margin: 0 auto;
			

		}

		/**Texto del formulario**/
		.subtituloF_C{
			font-family: 'Open Sans', sans-serif;
			font-size: 20px;
			display: flex;
			padding: 0;
			border:0;
			margin:0 0 15px 0;
			text-align: center;
			font-weight: lighter;

		}

		/**Estilo de las cajas para llenar los datos**/
		

		.formularioContactos input[type=text]{
			font-family: 'Open Sans', sans-serif;
			border-left: none;
			border-top: none;
			border-right: none;
			border-bottom: 4px solid #FDAD30;
			margin-bottom: 20px;
			margin-left: 14px;
			width: 400px;
			font-size: 20px;
			font-weight: 300;
			background: #F5F5F5;
			outline: none;

		}

		
		/**Contenedor de boton**/
		.contenedor_boton_enviar{

			display: flex;
			margin-left: 410px;
			margin-top: 0;
			
		
		}

		/**Boton**/
		.formularioContactos input[type=submit]{
			font-family: 'Open Sans', sans-serif;
			font-size: 20px;
			border-left: none;
			border-left: 1px solid #FDAD30;
			border-top: 1px solid #FDAD30;
			border-bottom: 4px solid #FDAD30;
			border-right: 4px solid #FDAD30;
			outline: none;
			font-weight: 700;
		    color: #9B9A9A;
		    cursor: pointer;
		    padding: 0 7px;


		}


		

	/*********************Contenedor de imagen****************************/
		.contenedor_imgContacto{
			
			width: 250px;
			height: 250px;
			display: flex;
			
		}
		.contenedor_imgContacto2{
			width: 250px;
			border-radius: 150px;
			
		}

		.imagenContacto{
			
			width: 250px;
			height: 250px;
		}
	/*************************+Formulario de inquietudes**************************************+**/

	

		/**Contenedor azul**/
		.contenedor_azulContactos{
			background-color: #0499D8;
		 	display: flex;
		 	width: 520px;
		 	height: 570px;
		 	margin-right: 15px;

		}

		/*Caja Contenedor datos contactos*/
		.C_datosContacto2{

			width: 520px;
		 	height: 570px;
			padding: 0 0 0 0;
			border:2px solid #0499D8;
			background-color: #F5F5F5;
			
		}
		/*Recuadro de inquietudes*/
		.label{
			color: #9B9A9A;
			padding: 5px 0;
			margin-left: 10px;

		}

		.contenedor_text_area{
			
		text-align: justify;
		display: flex;
		
		}

		.caja_azul{
			
			background-color: #0499D8;
			width: 320px;
			height: 150px;
			margin-left: 20px;
			margin-top: 20px;
		}
		.contenedor_texto{

			width: 320px;
			height: 150px;
			margin-left: -17px;
			margin-top: -15px;
			
		}
		.caja_azul input[type=text]{
			border-left: 4px solid #0499D8;
			border-top: 4px solid #0499D8;
			border-right:4px solid #0499D8;
			border-bottom: 4px solid #0499D8;
			margin-bottom: 20px;
			width: 320px;
			height: 160px;
			background: #F5F5F5;outline: none;
			cursor: pointer;
		}
		
		/**********Contenedor Boton *****************/
		.contenedor_boton{

			display: flex;
			margin-top: 40px;
			margin-left: 190px;

		}

		.contenedor_boton input[type=submit]{
			margin-left: 230px;
			margin-bottom: 10px;
			border-left: 1px solid #0499D8;
			border-top: 1px solid #0499D8;
			border-bottom: 4px solid #0499D8;
			border-right: 4px solid #0499D8;
			outline: none;
			padding: 0 5px;

		}

		::placeholder {

		 font-family: 'Open Sans' sans-serif;
		 font-size: 18px;
		 font-weight: 300;
		 color: #9B9A9A;

		}	
			

/**Fin de contenedor**/




