*{
  margin: 0;
  padding: 0;
  
}
main{
	margin-top: 30px;
}
/*titulo*/
.insti{

 	text-align: left;
  	
  	width: 30%;
  	margin-left: 20px;
  	text-align: center;
}

.adeI{
	margin-top: 20px;
	height: 60px;
}
.lineasI{

  content:'';
  margin: auto;
  width:300px;
  height: 4px;
  background:#000;
  margin-bottom: 5px;
}

.tituloI{
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	margin-bottom: 5px;
  	font-weight: 300;
  
}
/*info institucion */
.institucion_I{
  margin-top: -150px;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  
}
.contenIns_I{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.escudo1{
	margin-left: 100px;
	background-color:#CCCCCF;
	width: 400px;
	height: 350px;
}
.escudo{
	width: 400px;
	height: 350px;
	background-color: #F5F5F5;
	margin-top:-10px;
	margin-left: -10px;
	box-shadow: 0 0 10px rgb(0,0,0,.4);
}

.escudo_txt{
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 30px;
}
.escudo_img{
	width: 350px;
	height: 350px;
}
.insTexto{
	text-align: center;
	margin-bottom: 10px;
	width: 50%;
}

/**/
.mis_vis{

	margin-top: 100px;
	margin-left: 80px;
	font-family: 'Open Sans', sans-serif;
	

}

.cua1_I{

	margin-top: 20px;
	height: 245px;
	width: 555px;
	padding: 5px;
	background:#FDAD30 ;
	margin-left: 20px

}
.cua12_I{

	margin-top: 20px;
	height: 245px;
	width: 555px;
	padding: 5px;
	background:#069CCC ;
	margin-left: 20px

}
.cua2_I{

	height: 250px;
	width: 560px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top:-20px;
	margin-left: -20px;
	background-color: #F5F5F5;
	box-shadow: 0 0 10px rgb(0,0,0,.4);
}


.descripcionI{
	margin-left: 10px;
	color: #000;
	
}
.phI{
	font-size: 20px;
	text-align: justify;
	font-weight: 300;

}
.hhI{
		font-size: 30px;
		text-align: left;
	
}
.imgI{
	width: 200px;
	height: 200px;
	
}
.vision_img{
	margin-left: 10px;
	
	
}
.mision_titulo{
	
	text-align: left;
	color: #FDAD30 ;
}
.vision_titulo{
	
	text-align: left;
	color: #069CCC ; 
}