body{
	background: black;
	padding: 0;
	margin: 0;
}
	
	main{
		background-image: url("../img/fondo.gif");
		background-size:cover;
		font-family: 'Open Sans' sans-serif;
	}
/**Encabezado**/
	
	/**Contenedor principal encabezado**/
	.encabezado_pri{

		display: flex;
		justify-content: center;

	}

	/**Contenedor imagen-linea-titulo Encabezado**/
	.encabezado{
		
		text-align: center;
		margin-top: 10px;
		
	}
	
	
	/**Imagen del encabezado**/
	.imagen_ADE{
		width:300px;
	}
	/**Linea del encabezado**/
	.linea{
		content: '';
		width: 600px;
		height: 4px;
		background: black;
		margin: auto;
	}
	/**Division para encabezado**/
	.division_encabezado{
		margin-top: -15px;
		
	}
	/**Titulo de encabezado**/
	.titulo_encabezado{
		font font-family: 'Open Sans', sans-serif;
		font-size: 30px;
	}

/**Fin de encabezado**/

/*********************************************************************************/

/**Contenedor de formulario**/

	.prueba_prin{
		height: 750px;
		padding: 5px;
		width: 100%;
		margin-top: 100px;
	}
	/**Contenedor de formulario-imagenes**/
	.contenedor_form-imgs{

		margin-top: 20px;
		display: flex;
		justify-content: center;
		width: 85%;
		
	}
		/**Contenedor de imagenes**/
		.contenedor_imagenes{

			height: 650px;

		}

		.zz{

			float: left;
			width:600px
			height:550px;
			
		}
		/**Contenedor de imagen Globo**/
		.contenedor_globo{

			margin-left: 100px;
			width: 300px;
			height: 200px;

		}
		/**Imagen globo**/
		.globo{

			width:200px;
			
		}
		/**Texto del globo**/
		.texto_globo{
			font-family: 'Open Sans' sans-serif;
			font-size: 17px;
			text-align: center;
			margin-top: -160px;
			margin-left: -100px;
		}
		/**Contenedor de imagen persona**/
		.contenedor_persona{

			width: 250px;
			height: 500px;
		}
		/**Imagen persona**/
		.persona{

			width:250px;
			height: 500px;
			
		}

	
	/**Formulario de inscripción**/

		/**Contenedor principal formulario**/
		.contenedor_principal-formulario{
		
		width: 550px;
		height: 620px;

		}
	
		/**Contenedor naranja**/
		.contenedor_nar{
		 	background-color: #FDAD30;
		 	
		 	width: 550px;
			height: 620px;
			padding: 5px;
		 	
		}

		/**Contenedor del formulario**/
		.contenedor_form{
			margin-left: -55px;
			margin-top: -50px;
			width: 550px;
			height: 620px;
		 	background-color: #F5F5F5;
		 	

		}

		/**Formulario**/
		.formulario{

			padding: 20px;
			background-color: #F5F5F5;
			width: 550px;
			height: 620px;
		
			text-align: center;

		}

		/**Titulo del formulario**/
		.titulo1C{
			
			text-align: center;
			padding: 5px;
			color: #FDAD30;
			font-family: 'Open Sans', sans-serif;
			font-size: 30px;

		}

		/**Texto del formulario**/
		.textoC{

			font-family: 'Open Sans', sans-serif;
			font-size: 25px;
			text-align: center;
			font-weight: lighter;
			margin-bottom: 20px;

		}

		/**Cajas de texto formulario**/
		input[type=text]{

			font-family: 'Open Sans', sans-serif;
			border-left: none;
			border-top: none;
			border-right: none;
			border-bottom: 4px solid #FDAD30;
			margin-bottom: 5px;
			margin-left: 14px;
			width: 400px;
			font-size: 25px;
			font-weight: 700;
			background: #F5F5F5;
			outline: none;
			


		}
		
		/**Contenedor de boton**/
		.contenedor_boton_enviar{

		

		
		}

		/**Boton**/
		.boton{

			font-family: 'Open Sans', sans-serif;
			font-size: 25px;

			border-left: none;
			border-left: 1px solid #FDAD30;
			border-top: 1px solid #FDAD30;
			border-bottom: 4px solid #FDAD30;
			border-right: 4px solid #FDAD30;
			outline: none;
			font-weight: 700;
		    color: #9B9A9A;
		    cursor: pointer;
		    padding: 0 7px;



		}

		::placeholder {

		 font-family: 'Open Sans' sans-serif;
		 font-size: 25px;
		 font-weight: 300;
		 color: #9B9A9A;

		}

	/** Fin de formulario de inscripción**/

	

			
		

/**Fin de contenedor**/
