/*********************modal tipo de  usuario *************************************/
.modal-container_Usuarios{
  opacity: 0;
  visibility:hidden;
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgb(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container_UsuariosDos{
  background-size: cover;
  width: 50%;
  height: 90%;
  background:#fff;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  transition: transform 1s;
  transform: translateY(0%);
  border-radius: 10px;
  /*overflow: hidden;*/
  
}
.cerrar-Usuario{
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: 20px;
  height:20px;
  color: #000;
  
  border-radius: 50%;

  cursor: pointer;
}
.modal-container_cerrarU{
  transform: translateY(-200%);
}




/*Seccion que contiene los tipos de usuarios */
.contenedor-Tipos_Usuario{
  text-align: center;
  width: 100%;
}

/*Texto del titulo  */
.titulo-Cuenta_Usuario{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: 300;

}

/**estilo de la imagnes**/

/*Contenerdor total  de imagenes */

.contenedor-Imagenes_TU{
 
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
 width: 100%;

  
}
/*contendor gris de cada imagen */
.tipo-UsuarioI{
  margin-top: 20px;
  padding: 10px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: #F8FBFD;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Contenedor blanco de cada imagen */
.cont-imgBlanco{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background: #fff;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*imagen de icono de cada usuario*/
.imagen-usuario{
  width: 100px;
  height: 100px;
}
/**fin estilo de la imagnes**/

/*estilo del nombre de las imagenes*/
/*Contendor total de los nombres*/
.contenedor-Texto_TU{
 
 display: flex;
 justify-content: space-around; 
 flex-wrap: wrap;
 width: 100%;
 margin-bottom: 20px;



}
/*Cajas de texto amarilla*/
.Contenedor-NombreAmarillo{
 
  padding: 10px;
  width: 200px;
  height: 40px;
  overflow: hidden;
  background:#FDAD30 ;
  text-align: center;
  cursor: pointer;

}
/*Cajas de texto azul*/
.Contenedor-NombreAzul{

  padding: 10px;
  width: 200px;
  height:40px;
  overflow: hidden;
  background: #069CCC;
  text-align: center;
  cursor: pointer;
}

/*Estilos de cada nombre de tipo de usuario */
.txt_nombres-TU{
  font-family: 'Open Sans', sans-serif;
   font-size: 15px;
  font-weight: 700;
}

/*estilo link*/
.linkSesion{
  font-family: 'Open Sans', sans-serif;
  color:#009BCE;
  font-size: 15px;
  font-weight: 300;

}

/*Estilo pregunta */
.Pregunta-Sesion{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  background: #fff;

}

/*Fin modal tipo de usaruio*/




/*modal formulario*/
.par1{
  margin-top: 20px;
  background: #F8FBFD;
}
.par2{
  visibility:hidden;
  margin-top: 20px;
  background: #069CCC ;
  position: fixed;
  z-index: 9;
}
.par3{
  visibility:hidden;
  margin-top: 20px;
  background: #FDAD30;
  position: fixed;
  z-index: 10;
}