{% extends 'principal/menu.html' %}
{% block title %}Contacto{% endblock %}
{% block links %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='principal/css/select2.css') }}">
	<script src="{{ url_for('static', filename='principal/js/jquery-3.1.1.min.js') }}" ></script>
	<script src="{{ url_for('static', filename='principal/js/select2.js') }}"></script>
{% endblock %}
{% block content %}

		<!-----------------------------------------------Encabezado---------------------------------------------------------------------->
		<div class="encabezado-Contacto">
			<div>
				<img class="ade_Contacto" src="{{ url_for('static', filename='principal/img/ade.png') }}">
			</div>
				<p class="lineaC"></p>
				<div class="Div_tituloContacto">
					<p class="tituloContacto">Contacto</p>
				</div>
		</div>	
		<!--Fin de encabezado-->

		

		<!--Contenedor principal-->
		<div class="contenedor_principalContacto">	

			<!-------------Formulario contacto de inscripciones-------------------->
			 <!--Contenedor naranja-->
			 <div class="contenedor_naranjaContactos">
			 	<!--Contenedor formulario-->
			 	<div class="contenedor_formularioContactos">
			 		<!--Formulario-->
					<form action="/enviarInscripciones" class="formularioContactos" method="POST">
						<fieldset class="C_datosContacto"><!--Caja Contenedor datos contactos-->
							<p class="tituloF_Contactos">
								<strong>CONTACTO DE INSCRIPCIONES</strong>
							</p>
							<p class="subtituloF_C">Llena los siguientes datos y ponte en
							contacto con nosotros</p>
							<input type="text" placeholder="Nombre del rector"   name="nameRector">
							<input type="text" placeholder="Correo electronico"  name="email">
							<input type="text" placeholder="Numero telefonico"  name="telefono">
							<!--<input type="text" placeholder="Nombre de la institución"  name="nameInstitucion">-->
							<script type="text/javascript">
								$(document).ready(function(){
										$('#mibuscador').select2();
								});
							</script>

							<div style="width: 500px; ">
								<select id="mibuscador" style="width: 500px;">
									<option> Institución</option>
									{%for ied in institucion %}
										<option value="">{{ied.0}}</option>
									{%endfor%}
								</select>
							</div>
							<input type="text" placeholder="Código DANE"  name="codDane">
							<input type="text" placeholder="Municipio"  name="municipio">
							<input type="text" placeholder="Numero de usuarios"  name="numUsuarios">
							<input type="text" placeholder="Comentarios adicionales"  name="comentarios">
							<div class="contenedor_boton_enviar">
								<input type="submit" class="boton_FI" placeholder="Enviar">	
							</div>
						</fieldset>
					</form>
					<!--Fin formulario-->
				</div>
				<!--Fin contenedor formulario-->
			 </div>
			 <!--Fin contenedor naranja-->

		<!-------------Fin formulario contacto de inscripciones-------------------->


		<!-------------Inicio contenedor de imagen---------->
			 <div class="contenedor_imgContacto">
			 	<div class="contenedor_imgContacto2">
			 		<img class="imagenContacto" src="{{ url_for('static', filename='principal/img/2.png') }}">
			 	</div>
			 </div>
		<!-------------Fin contenedor de imagen---------->


		<!-------------Formulario contacto de inquietudes-------------------->

			<!--Contenedor azul-->
			 <div class="contenedor_azulContactos">
			 	<!--Contenedor formulario-->
			 	<div class="contenedor_formularioContactos">
			 		<!--CoFormulario-->
			 		<form class="formularioContactos">
			 			<fieldset class="C_datosContacto2"><!--Caja Contenedor datos contactos-->
			 				<p class="tituloF_Contactos" style="color: #0499D8;">
								<strong>CONTACTO DE INQUIETUDES</strong>
							</p>
							<p  class="subtituloF_C">Llena los siguientes datos y
							ponte en contacto con nosotros</p>

							<input  style="border-bottom: 4px solid #0499D8" class="espacio_1" type="text" placeholder="Nombre" name="">

							<input style="border-bottom: 4px solid #0499D8" type="text" placeholder="Correo electronico" name="">

							<div class="label ">
								<label >¿En que podemos ayudarte?</label>
							</div>
							<div class="contenedor_text_area">
								<div class="caja_azul">
									<div class="contenedor_texto">
										<input type="text" placeholder="" name="" >
									</div>
								</div>
							</div>
							<!--Contenedor de boton-->
							<p class="contenedor_boton">
								<input  type="submit" class="btn_enviar" placeholder="Enviar">	
							</p>

			 			</fieldset>
			 		</form>
			 	</div>
			 	
			 </div>
		 <!-------------Fin formulario contacto de inquietudes-------------------->
		</div>
		<!--Fin contenedor principal-->
		{% endblock %}
