<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<strong>Nombre Institucion : </strong>
	<p>{{datos.0}}</p>
	<strong>Nombre Rector: </strong>
	<p>{{datos.1}}</p>
	<strong>Email : </strong>
	<p>{{datos.2}}</p>
	<strong>Telefono : </strong>
	<p>{{datos.3}}</p>
	<strong>DANE : </strong>
	<p>{{datos.4}}</p>
	<strong>Departamento : </strong>
	<p>{{datos.5}}</p>
	<strong>Numero de Usuarios : </strong>
	<p>{{datos.6}}</p>
	<strong>Codigo Directivo : </strong>
	<p>{{datos.7}}</p>
	<strong>Codigo Docente : </strong>
	<p>{{datos.8}}</p>
	<strong>Codigo Estudiante :</strong>
	<p>{{datos.9}}</p>
</body>
</html>