<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Error</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='principal/css/error404.css') }}">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='principal/img/bombillo.png') }}" sizes="32x32">

</head>
<body>
	<div class="error">
	
	<div class="primero">
			<div>
				<img src="{{ url_for('static', filename='principal/img/52.png') }}" alt="" class="estrella">
			</div>
			<div class="intP">
				
				<p class="errorText"><strong>404</strong></p>
				<p class="errorText2"><strong>Sorry,the page not found</strong></p>
				<img src="{{ url_for('static', filename='principal/img/50.png') }}" alt="" class="fondo">
			
		

			</div>
			<div>
			<img src="{{ url_for('static', filename='principal/img/51.png') }}" alt="" class="luna">
		</div>
	</div>
</div>
</body>
</html>