<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registrar</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='principal/css/registro.css') }}">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='principal/img/bombillo.png') }}" sizes="32x32">
</head>
<body>
	<!-- Docentes-->
	<div class="modal-container_intercambioDocentes2"><!--Contenedor de transparencia negra-->
		<div class="modal-container_intercambioDosDocentes modal-container_cerrarIDD2"><!--Contenedor  central blanco-->
			<span class="cerrar-IntercambioDocentes"> <i class="fas fa-times"></i></span><!--icono de la x-->

		
			<div class="CImagen_modalRegistro"><!--Contenedor de imagenes del modal -->
				<!--Imagenes -->
				<img src="{{ url_for('static', filename='principal/img/31.png') }}" alt="" class="imgRegistroIzq">
				<img src="{{ url_for('static', filename='principal/img/logo.png') }}" class="logoRegistro">
				<img src="{{ url_for('static', filename='principal/img/32.png') }}" alt="" class="imgRegistroDer">
			</div>
			<!--Contenedor principal del formulario -->
			<div class="contenedor_prinRegistro">

				<!--Formulario de registro -->
				<form action="/registroDocente" method="POST" class="formularioRegistro">

					<!--Contendor de los titulos del formulario  -->
					<div class="txt_registro " >
						<p class="tituloRegistrar"><strong>Registrar</strong></p>
						<p class="subtituloRegistrar">
					        Registrate para ingresar a <strong>ADE</strong>
					    </p>
					
					</div>		
					<!--Selectores de intercambio-------------------------------------->
					

				 	 <!----Datos de cada formulario---->
				    <div class="datos">
				    	<div class="form_d"><!--Contenedor de datos -->
				    		<div class="div_datos"><!--Division de cada uno de los datos-->
				    		<input type="text" placeholder="Nombres" name="nombres" required id ="">
				    		<input type="text" placeholder="Apellidos" name="apellido" required id ="">
				    	</div>
				    	<div class="div_datos">
				    		<input type="text" placeholder="Num Identificacion" name="id" required id ="" minlength="10">
				    		<input type="email" placeholder="Correo Electronico" name="email"  required id ="">
				    	</div>
				    	<div class="div_datos">
				    		<input type="password" placeholder="Contraseña" class="entradaDos" name="contrasena" required id ="" minlength="8">
				    		<input type="password" placeholder="Verif contraseña" class="entrada" name="verifcontrasena" required id ="" minlength="8">
				    	</div>
				    	</div>
				    	<!--Imagen ubicada al lado derecho del formulario --->
				    	 <div class="imgRegistroDer2">
						<img src="{{ url_for('static', filename='principal/img/33.png') }}" alt="" width="100" height="300">
						</div>
				    </div>
				    <!--Pate final del formulario de registro-->
				    <div class="Final_Registro">
				       <div class="bt_regis"><!--division boton continuar-->
				       	 <input type="submit" class="" id="boton_registro2" placeholder="Continuar">
				       </div>
				         <!--Pregunta si ya tiene cuenta-->
				     	 <p class="txt_YaCuenta">¿Ya tiene una cuenta?<a href="" class="linkSesionDD">Iniciar Sesión</a></p>
				    </div>
				    <!--captura mensajes del servidor -->
						{% with messages = get_flashed_messages() %} 
						{% if messages %}
						{%for mesage in messages %}
							<p class="tituloF">{{ mesage }}</p>
						{% endfor %}
						{% endif %}
						{% endwith %}
				</form>
			</div>			
		</div>
	</div>
</body>
</html>
