<!DOCTYPE html>
<html>
<head>
	<title>
		Caracterización
	</title>
	<!--Api del tipo de letra-->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

	<!--Estilo CSS-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='principal/css/registro_institucion.css') }}">
	<script src="https://account.snatchbot.me/script.js"></script><script>window.sntchChat.Init(136817)</script>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='principal/img/bombillo.png') }}" sizes="32x32">
</head>

<body>
	<main class="Fondo">

		<!--Encabezado-->
		<div class="encabezado_pri">
			<!--Contenedor imagen-linea-titulo Encabezado-->
			<div class="encabezado">
				<!--Contenedor de imagen ADE-->
				<div class="color">
					<img class="imagen_ADE" src="{{ url_for('static', filename='principal/img/ade.png') }}" >
				</div>
				<!--Linea-->
				<p class="linea"></p>
				<!--Titulo de encabezado-->
				<div class="division_encabezado">
					<p class="titulo_encabezado">Proceso de Registro</p>
				</div>
			</div>
		</div>
		<!--Fin del encabezado-->

		<!--Inicio contenedor padre-->
		<div class="prueba_prin">
			<!--Contenedor Formulario-Imagenes-->
			<div class="contenedor_form-imgs">
				<!--Contenedor de imagenes-->
				<div class="contenedor_imagenes">
					<div class="zz"><!--Contenedor del globo y el texto del globo-->
						<div class="contenedor_globo">
							<img class="globo" src="{{ url_for('static', filename='principal/img/46.png') }}">

							<p class="texto_globo">
								<strong>Recuerda...</strong><br><br>Los códigos de cada <br> usuario llegaran en un <br> correo de verificación.</p>
						</div>
					</div>
					<!--Contenedor persona-->
						<div class="contenedor_persona">
							<img class="persona" src="{{ url_for('static', filename='principal/img/47.png') }}">
						</div>	
				</div>
				<!--Contenedor de imagenes-->

				<!--Inicio contenedor del formulario-->
				<div class="contenedor_principal-formulario">	
				 	<!--Contenedor naranja-->
					 <div class="contenedor_nar">
					 	<!--Contenedor formulario-->
					 	<div class="contenedor_form">
					 		<!--Formulario-->
							<form class="formulario">	
									<!--Titulo de formulario-->
									<p class="titulo1C">
										<strong>LA INSTITUCIÓN HA SIDO REGISTRADA</strong>
									</p>
									<!--Texto del formulario-->
									<p class="textoC">Los siguientes datos son la caracterisacion de la Institución registrada </p>
										<!--Cajas de texto formulario-->
										<input type="text" placeholder="Institución" name="">
										<input type="text" placeholder="Rector" name="">
										<input type="text" placeholder="Código DANE" name="">
										<input type="text" placeholder="Municipio " name="">
										<input type="text" placeholder="Tipo de Institución" name="">
										
										<!--Contenedor de boton enviar-->
										<div class="contenedor_boton_enviar">
											<!--Boton enviar-->
											<p class="textoC">Confirme que los datos son correctos para obtener los codigos de cada usuario </p>
											<button type="submit" class="boton">Confirmar</button>
										</div>
							</form>
							<!--Fin formulario-->
						</div>
						<!--Fin contenedor formulario-->
					 </div>
					 <!--Fin contenedor naranja-->
				</div>
				<!--Fin contenedor formulario-->
			</div>
			<!--Fin contenedor Formulario-Imagenes-->
		</div>
		<!--Fin contenedor padre-->
	</main>
</body>
</html>








































